<br />
<div class="container">
  <h1>Login Using</h1>
  <a class="btn btn-outline-primary" href="/auth/google"><i class="fab fa-google"></i> Google</a>
  <a class="btn btn-outline-primary" href="/auth/facebook"><i class="fab fa-facebook"></i> FB</a>
  <a class="btn btn-outline-primary" href="/auth/microsoft"><i class="fab fa-microsoft"></i> Microsoft</a>
  <a class="btn btn-outline-primary" href="/auth/github"><i class="fab fa-github"></i> GitHub</a>
</div>