<div class="btn-group" role="group" aria-label="Basic example">
  <a  class="btn btn-secondary" href="/auth/login">login</a>
  <a  class="btn btn-secondary" href="/auth/logout">logout</a>
  <a  class="btn btn-secondary" href="/auth/google">google</a>
</div>